  <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'sidebar-navbar' do %>
        <span class="sidebar-icon-box fa-solid fa-user">
          </span>
           <p class="nav-txt-box">Logout</p>
        <% end %>
