
<div class="wrapper">
  <div class="header">
    <div class="text-header">
      <h1>Tasty European Food</h1>
      <%= link_to 'See All Products', items_path, class: "items-path" %>
    </div>
    <div class="button">
    </div>
  </div>
</div>
